<div class="navbar-fixed">
  <nav class="blue z-depth-0">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img src="assets/covid.png" class="responsive-img" />
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"
        ><i class="material-icons"> menu </i>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a routerLink="listar">Listar</a></li>        
        <li><a routerLink="adicionar">Adicionar</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo" #mobile>
  <li><a routerLink="listar">Listar</a></li>  
  <li><a routerLink="adicionar">Adicionar</a></li>  
</ul>
