<div class="container">
  <table class="striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sexo</th>
        <th>Idade</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Maria Aparecida da Nobrega</td>
        <td>F</td>
        <td>87</td>
      </tr>
      <tr>
        <td>José de Almeida Santos</td>
        <td>M</td>
        <td>76</td>
      </tr>
      <tr>
        <td>Amélia Guimarães da Silva</td>
        <td>F</td>
        <td>81</td>
      </tr>
      <tr>
        <td>Rosa Augusta dos Santos</td>
        <td>F</td>
        <td>85</td>
      </tr>
      <tr>
        <td>Antonio Cesar de Araujo</td>
        <td>M</td>
        <td>70</td>
      </tr>
      <tr>
        <td>Cleber Barbosa de Souza</td>
        <td>M</td>
        <td>67</td>
      </tr>
    </tbody>
  </table>
</div>
